    <!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Edycja Adresy</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <style>
        body {
            background-color: #F8FFEF;
        }
        .striped-table tbody tr:nth-child(odd) {
            background-color: white; /* Kolor tła dla nieparzystego wiersza */
        }

        .striped-table tbody tr:nth-child(even) {
            background-color: #f4f4f4; /* Kolor tła dla parzystego wiersza */
        }
        .striped-table thead tr {
            background-color: #1e293b; /* Kolor tła dla nagłówka */
            color: white; /* Kolor tekstu dla nagłówka */
        }
        .text-right {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }
        .table-auto input {
            color: #000; /* Ciemny kolor tekstu */
        }
    </style>

</head>

<!-- Navigation -->
<body style="background-image: url('/tlo1.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat">
<nav class="bg-gray-800 text-white p-4" style="white-space: nowrap; max-width: 100%;">
    <div class="container mx-auto flex items-center justify-between">
        <a class="text-xl font-bold" href="/">Klub lekkoatletyczny</a>
        <div class="flex items-center space-x-4">
            <a class="text-white" th:href="@{/adresy}">Adresy</a>
            <a class="text-white" th:href="@{/kibice}">Kibice</a>
            <a class="text-white" th:href="@{/obiekty}">Obiekty</a>
            <a class="text-white" th:href="@{/kluby}">Kluby</a>
            <a class="text-white" th:href="@{/dyscypliny}">Dyscypliny</a>
            <a class="text-white" th:href="@{/wydarzenia}">Wydarzenia</a>
            <a class="text-white" th:href="@{/kibiceWydarzenia}">Kibice wydarzenia</a>
            <a class="text-white" th:href="@{/main_admin}">Main</a>
            <a class="text-light-blue-500" th:inline="text">You are logged in as <b style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
            <form method="post" th:action="@{/index}">
                <button class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj</button>
            </form>
        </div>
    </div>
</nav>

<div class="container mx-auto p-4">
    <form action="#" th:action="@{/updateAdres}" th:object="${adress}" method="post" >

        <table class="w-full md:w-2/3 lg:w-1/2 xl:w-1/3 border-collapse border border-black striped-table mx-auto">
            <thead>
            <tr>
                <th class="px-4 py-2 border-b">Nr adresu:</th>
                <td class="border px-4 py-2 text-center">
                    <input required type="text" th:field="*{nrAdresu}" class="w-full text-black" readonly="readonly">
                </td>
            </tr>
            <tr>
                <th class="px-4 py-2 border-b">Nr budynku:</th>
                <td class="border px-4 py-2 text-center">
                    <input required type="text" th:field="*{nrBudynku}" class="w-full text-black">
                </td>
            </tr>
            <tr>
                <th class="px-4 py-2 border-b">Nr lokalu:</th>
                <td class="border px-4 py-2 text-center">
                    <input type="text" th:field="*{nrLokalu}" class="w-full text-black">
                </td>
            </tr>
            <tr>
                <th class="px-4 py-2 border-b">Ulica:</th>
                <td class="border px-4 py-2 text-center">
                    <input required type="text" th:field="*{ulica}" class="w-full text-black">
                </td>
            </tr>
            <tr>
                <th class="px-4 py-2 border-b">Miasto:</th>
                <td class="border px-4 py-2 text-center">
                    <input required type="text" th:field="*{miasto}" class="w-full text-black">
                </td>
            </tr>
            <tr>
                <th class="px-4 py-2 border-b">Kod pocztowy:</th>
                <td class="border px-4 py-2 text-center">
                    <input required id="kodPocztowy" type="text" th:field="*{kodPocztowy}" pattern="\d{2}-\d{3}" title="Wprowadź kod pocztowy w formacie xx-xxx." class="w-full text-black">
                </td>
            </tr>
            <!-- Button save -->
            <div class="text-center mt-4">
                <button type="submit" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Zapisz</button>
            </div>
            </thead>
        </table>
    </form>
</div>
</html>